/*
Author: Cassie Lewis
https://clewisdev.com
Date: April 2023
*/


/****** VARIABLES ******/

:root {
    
  /*COLORS*/
  --bg-black: #000000;
  --main-blue: #3A69D2;
  --bg-blue: #1F2937;
  --bg-gray: #e7e7e7;
  --dk-avo-green: rgb(83, 168, 83);
  --avo-green: rgb(111, 233, 111);
  --txt-gray: #918E9B;
  --txt-white: #FFFFFF;

  /*BORDER RADIUS*/
  --br-reg: 5px;
  --br-soft: 1rem;
  --br-round: 50%;

  /*FONT SIZES*/
  --fs-xs: .875rem;
  --fs-s: 1rem;
  --fs-m: 1.25rem;
  --fs-ml: 1.5rem;
  --fs-l: 2rem;
  --fs-title: 2.5rem;

  /*SIZES*/
  --small: .75rem;
  --medium: 1rem;
  --large: 2rem;
  --x-large: 3rem;
}

/*====== MARGIN AND PADDING RESET ======*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*====== GLOBAL STYLES ======*/

body {
  background-color: var(--bg-black);
  font-family: 'Inter', sans-serif;
  text-align: center;
}

header {
  background-color: var(--main-blue);
  padding: 2em 1em;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: .1rem;
  margin-top: var(--medium);
  background-color: var(--main-blue);
  border: 5px outset var(--main-blue);
  color: var(--txt-white);
  text-transform: uppercase;
  border-radius: var(--br-reg);
  transition: transform 1s;
  
}

button:hover {
  background: var(--dk-avo-green);
  border: 5px outset var(--dk-avo-green);
  transform: scale(1.03);
}

button:hover > * {
  background: var(--dk-avo-green);
}

input,
textarea {
  font-family: inherit;
  border: none;
  border-radius: var(--br-reg);
}

.env-icon {
  color: var(--txt-white);
}

.form-div > * {
  margin-bottom: var(--small);
}

.company-info-container {
  display: flex;
  flex-direction: column;
  gap: var(--small);
  justify-content: center;
}

.customer-info-container {
  display: flex;
  flex-direction: column;
  gap: var(--small);
}

.amount-input,
.company-email-input {
  background-color: var(--bg-gray);
  margin-bottom: 2rem;
}

input:focus,
button:focus,
textarea:focus {
  outline: 3px solid var(--avo-green);
}

.remove-btn:focus {
  padding: .5rem;
}

.remove-btn {
  text-transform: lowercase;
  border: none;
  background: none;
  padding: 0;
  margin: 0 0 0 var(--small);
}

.remove-btn:hover {
  background: none;
  border: none;
  color: var(--avo-green);
}

main,
.remove-btn {
  background-color: var(--bg-blue);
}

main {
  padding: 1em;
}

ul {
  list-style-type: none;
}

textarea {
  font-family: inherit;
  resize: none;
  padding: .5rem;
  border: none;
  border-radius: 5px;
}

.notes {
  color: var(--dk-avo-green);
}

/*======  TYPOGRAPHY  ======*/

h1 {
  font-size: var(--fs-l);
  margin-bottom: .5625rem;
}

h2 {
  font-size: var(--fs-s);
}

h1,
li {
  text-transform: capitalize;
}

h1,
h2,
li,
.total-amt {
  color: var(--txt-white);
}

h2,
h3 {
  font-weight: 400; 
}

h3 {
  text-transform: uppercase;
  margin-bottom: 1em;
}

h3,
p {
  font-size: var(--fs-xs);
  color: var(--txt-gray);
}

input, 
span,
.remove-btn {
  font-size: var(--fs-xs);
  color: var(--txt-gray);
}

input {
  font-size: var(--fs-s);
}

li {
  font-size: var(--fs-s);
  margin-bottom: .5em;
}

.total-amt {
  font-size: var(--fs-l);
}

textarea::placeholder {
  color: var(--txt-gray);
  font-size: var(--fs-s);
}

/*====== LAYOUT ======*/

.body-container {
  max-width: 500px;
  /* min-height: 100vh; */
  margin: 0 auto;
}

.form-div {
  margin-bottom: 1.5em;

  display: flex;
  flex-direction: column;
}

input,
button {
  text-align: center;
  padding: 1.5em .75em;
}

.info-container {
  text-align: left;
  margin-bottom: var(--large);

  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 2rem;
}

.info-container > * {
  padding: .25rem 0;
}

.info {
  color: var(--bg-gray);
  margin: 0;
  margin-bottom: 1rem;
}

.task-info-container {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

hr,
.tasks-container,
.footer-container {
  margin-bottom: 1.5em;
}

.tasks-container {
  text-align: left;
}

.total-amt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--large);
  margin-bottom: var(--large);
}

.total-title {
  color: var(--txt-white);
  font-size: var(--fs-m);
  margin: 0;
}

.total-amt {
  color: var(--avo-green);
}

.send-btn {
  width: 100%;
  margin-bottom: 4em;
}

/*====== ACTIVE CLASS ======*/

.active {
  background-color: var(--avo-green);
  color: var(--bg-blue);
}

/*====== MEDIA QUERY ======*/

@media (min-width: 820px) {

  h1 {
    font-size: var(--fs-title);
    margin-bottom: var(--large);
  }

  input,
  button {
    font-size: var(--fs-m);
    padding: 1rem .5rem;
  }

  input {
    width: 100%;
  }

  li {
    font-size: var(--fs-m);
    margin-bottom: 1.5em; 
  }

  .body-container {
    max-width: 1100px;
    margin: var(--medium) auto;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 400px; */
    border: 3px solid hotpink;
  }

  header {
    padding: var(--large)var(--large) 3em;
  }

  main {
    padding: var(--large);
  }

  .customer-info-container {
    margin-bottom: var(--x-large);
  }

  .company-info-container > *,
  .customer-info-container > * {
    border-radius: var(--br-reg);
  }

  .notes-div {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
  }

}







